@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Open+Sans&display=swap');

body{
    padding: 1rem;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
}

header{
    padding:1rem;
    margin-bottom: 1rem;
   
    border-bottom-left-radius: 1rem;
    background-color: rgb(247, 247, 79);
    
    
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 450;
    font-size:2rem;
    text-align: center;
}

#output{
    height: 10vh;
    border: 1px solid black;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}